<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RandomDataGenerator-API</title>

  <style>
    body {
      background-color: #222222;
      color: #F5F5F5;
      font-family: Arial, Helvetica, sans-serif;
      font-size: medium;
      padding: 7px;

    }
    a{
      color: #F9E784;
      text-decoration: none;
    }
    .credits{
      font-size: small;
    }
    .credits td{
      padding: 4px;
    }
    .right{
      text-align: right;
    }
  </style>
</head>
<body>
  <h3>RandomDataGenerator-API v.1.0</h3>
  <p>
    This api generates random data. It can retrieve previously generated records and allows you to search within the record.
  </p>
  <br/>
  <p>
    Read documentation: <a href="https://documenter.getpostman.com/view/10815384/Uz5CLJDt">https://documenter.getpostman.com/view/10815384/Uz5CLJDt</a>
  </p>
  <br/>
  <p>
    <table class="credits">
      <tr>
        <td>Version</td><td class="right">v.1.0</td>
      </tr>
      <tr>
        <td>Author</td><td class="right">Shine Jayakumar</td>
      </tr>
      <tr>
        <td>Github</td><td class="right">https://github.com/shine-jayakumar</td>
      </tr>
      <tr>
        <td>License</td><td class="right">MIT</td>
      </tr>
    </table>

  </p>
  
</body>
</html>